<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-st-button/cells-st-button.html">
<link rel="import" href="../cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../cells-grid-template/cells-grid-template-styles.html">
<link rel="import" href="cells-bfm-iv-filter-styles.html">
<dom-module id="cells-bfm-iv-filter">
  <template>
    <style include="cells-bfm-iv-filter-styles cells-grid-template-styles"></style>
  <div class="cgt">
    <div class="cgt-col-xs-4 cgt-col-sm-8 cgt-col-md-12 cgt-col-lg-12">
      <div class="main-container">
        <label for="">[[title]]</label>
        <div class="filters">
          <template is="dom-repeat" items="[[filters]]">
            <div class="filter-container">
              <cells-molecule-input
                on-value-changed="_handleInput"
                label="[[item.placeholder]]"
                name="[[item.name]]"
                icon="[[item.icon]]"></cells-molecule-input>
            </div>
          </template>
        </div>
        <div class="actions-container">
          <template is="dom-repeat" items="[[actions]]">
            <div class="action">
              <cells-st-button class="composed link">
                <button on-click="_handleAction">
                  <span class="btn-contents">
                    <iron-icon class="btn-icon" icon="[[item.icon]]"></iron-icon>
                    <span class="btn-text">[[item.text]]</span>
                  </span>
                </button>
              </cells-st-button>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>
  <script src="cells-bfm-iv-filter.js"></script>
</dom-module>