<dom-module id="cells-bfm-iv-filter-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-bfm-iv-filter; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

.main-container {
  display: flex; }

.actions-container {
  display: flex; }

.filters {
  display: inline-block;
  width: 60%;
  margin-left: 1rem; }

</style></template></dom-module>